.home{
    font-family: 'Inter';
    font-style: normal;
    color: #ffffff;
}

#intro{
    width: 95%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
.intro_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    width: 50%;
}
.intro_text h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    width: 477px;
    margin-bottom: 32px;
}
.intro_text p{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    width: 477px;
    margin-top: 0;
    margin-bottom: 64px;
}
.btn_red{
    padding: 15px 70px;
    gap: 10px;
    background: #db5461;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}
#showing{
    width: 95%;
    /* height: 645px; */
    margin: auto;
}
#showing h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 15px;
    color: #f8f7f7;
    margin-top: 64px;
    margin-bottom:32px;
}
#showing .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#about{
    /* background: url(../../images/About\ us.png); */
    /* height: 576px; */
}
#about img{
    width: 100%;
    object-fit: scale-down;

}